*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
  }

@font-face {
    font-family: "LatoBold";
    src: url(./fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: "LatoNormal";
    src: url(./fonts/Lato/Lato-Regular.ttf);
}

:root{
    --latoBold:"LatoBold";
    --LatoNormal:"LatoNormal";
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header{
    background-color: #222;
    width: 100%;
}

.menu{    
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}  


.left_menu{    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 41px;
}

.right_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 26px;
}

.slider{
    background-color: #F1E4E6;
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 64px;
    background-image: url("./img/slider_left.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.slider .left{
    width: 50%;
}

.slider .left img{
    width: 100%;
}

.slider .right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: center;
}

.label h1{
    color: #222;
    font-family: var(--latoBold);
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.label .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.label .black{
    color: #222;
    font-family: var(--LatoNormal);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.label .red{
    color: #F16D7F;
    font-family: var(--LatoNormal);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content{
    padding-top: 65px;
}

.woman_man_kids{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

.woman_man_kids h3{
    color: #FFF;
    text-align: center;
    font-family: var(--LatoNormal);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.woman_man_kids h1{
    color: #F16D7F;
    font-family: var(--LatoNormal);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.woman_man_kids img{
    width: 100%;
}

.wmk_size{
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.text{
    position: absolute;
}

.long{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}

.long img{
    width: 100%;
}

.long .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.long h1{
    color: #F16D7F;
    font-family: var(--LatoNormal);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.long h3{
    color: #FFF;
    text-align: center;
    font-family: var(--LatoNormal);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading_1{
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_1 h1{
    color: #222;
    font-family: var(--LatoNormal);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading_1 p{
    color: #9F9F9F;
    font-family: var(--LatoNormal);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line_1{
    padding-top: 48px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

.block_img img{
    width: 100%;
}

.block_text{
    background-color: #F8F8F8;

    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.h_main{
    color: #000;
    font-family: var(--latoBold);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block_text p{
    color: #5D5D5D;
    font-family: var(--LatoNormal);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h_price{
    color: #F16D7F;

    font-family: var(--LatoNormal);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_panel{
    padding-top: 48px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    background-color: #FFF;
    border-color: #FF6A6A;

    color: #F26376;
    font-family: var(--LatoNormal);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 15px 39px;
}


@media ((width < 1200px)) and (width>1024px) {
    .center{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media ((width>768px) and (width<=1024px)) {    
    .menu{
        height: 61px;
    }

    .label h1{
        font-size: 34px;
    }

    .label .black{
        font-size: 22px;
    }

    .label .red{
        font-size: 22px;
    }

    .center{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media ((width > 425px)) and ((width <= 768px)){
    .menu{
        height: 61px;
    }

    .label h1{
        font-size: 34px;
    }

    .label .black{
        font-size: 22px;
    }

    .label .red{
        font-size: 22px;
    }

    .line_1{
        padding-top: 72px;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 16px;
    }

    .center{
        padding-left: 32px;
        padding-right: 32px;
    }

    .woman_man_kids h3{        
        font-size: 10px;       
    }
    
    .woman_man_kids h1{        
        font-size: 15px;       
    }

    .woman_man_kids{
        gap: 15px;
    }
}

@media (width < 426px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .menu{
        height: 61px;
    }

    .mobile{
        display: none;
    }

    .slider{
        background-image: none;
        justify-content: center;
    }

    .left{
        display: none;
    }

    .slider .right{        
        gap: 15px;        
    }
    
    .label h1{
        font-size: 38px;        
    }
    
    .label .black{
        font-size: 20px;
    }
    
    .label .red{        
        font-size: 20px;        
    }

    .woman_man_kids{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .long{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 111px;
        background-image: url("./img/long.svg");
        background-position: center center;
        
    }
    
    .long img{
        display: none;
    }

    .heading_1{
        padding-top: 64px;
    }
    
    .line_1{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .block_text{
        padding: 25px 28px 19px 16px;
        gap: 12px;
    }
    
    .button_panel{
        padding-top: 40px;
        padding-bottom: 85px;
    }
}