@font-face {
    font-family: "GilroyBold";
    src: url(./fonts/gilroy-bold-cdnfonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: "GilroySemiBold";
    src: url(./fonts/gilroy-bold-cdnfonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: "InterBold";
    src: url(./fonts/Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: "InterNormal";
    src: url(./fonts/Inter/static/Inter-Thin.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(./fonts/gilroy-bold-cdnfonts/Gilroy-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

:root{
    --font_gb:"GilroyBold";
    --font_sb:"GilroySemiBold";
    --font_m:"Gilroy-Medium";
}

body{
    background: #FFF;
}

.content{
    width: 1147px;
    margin: 0 auto;    
}

.header{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.logo__grow{
    color: #000;
    font-family: var(--font_gb);    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.logo__be{
    color: #F25822;
    font-family: var(--font_gb);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.menu{
    width: 533px;
    height: 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.menu__link__home{
    color: #F25822;
    font-family: var(--font_sb);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link{
    color: #000;
    font-family: var(--font_m);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main{
    margin-top: 84px;
    margin-top: 84px;
    display: flex;
    align-items: center;
    gap: 41px;
}

.main__left{
    width: 620px;
}

.main__left__h1{
    color: #000;
    font-family: var(--font_gb);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
}

.main__left__h3{
    color: #888;
    font-family: var(--font_m);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
}

.main__left__btn{
    color: #FFF;
    font-family: var(--font_gb);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;    
}

.main__left__buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 37px;
    gap: 40px;
}

.main__left__link{
    color: #AAA;
    font-family: var(--font_gb);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer{
    padding-top: 97px;
    display: flex;
    justify-content: space-between;
}

.footer__img{
    height: 50px;
}

.container_2{
    padding-top: 100px;
    background-color: #F0F0F0;
}

.container_2 .content{
    width: 1147px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_2 .left h3{
    width: 511px;
    align-self: stretch;
    color: #000;
    font-family: var(--font_gb);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 20px;
}

.container_2 .left p{
    width: 511px;
    align-self: stretch;
    color: #888;
    font-family: var(--font_sb);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 32px;
}

.container_2 .content .right img{
    width: 643px;
    height: 507px;
}

.container_3{
    background: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.block image{
    width: 70px;
    height: 70px;
}

.container_3 .content .block h3{
    color: #000;

    font-family: var(--font_gb);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 235px;
}

.container_3 .content .block p{
    width: 310px;
    height: 42px;

    color: #666;

    font-family: var(--font_m);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.container_3 .content .block h4{
    color: #000;

    font-family: var(--font_gb);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.container_3 .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_3 .block{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 34px;
}

.shadow{
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.container_4{
    width: 1174;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FAFAFA;
}

.container_4 .content .head h2{
    color: #000;

    text-align: center;
    font-family: var(--font_gb);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.container_4 .content .head p{
    width: 740px;

    color: #888;

    text-align: center;
    font-family: var(--font_m);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.container_4 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.container_4 .content .head{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.container_4 .content .blocks{
    display: flex;
    gap: 20px;
}

.container_4 .content .blocks .block h3{
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: var(--font_gb);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 310px;
}

.container_4 .content .blocks .block p{
    align-self: stretch;
    color: #666;
    text-align: center;
    font-family: var(--font_m);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    padding-top: 16px;
}

.container_4 .content .blocks .block{
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    width: 378px;
}

.blok_image img{
    width: 314px;
    height: 284px;
    flex-shrink: 0;
}

.block .block_btn{
    padding-bottom: 34px;
}
