@font-face {
    font-family: "OpenSans";
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.main_content{
    background-color: #020a18;        
}

header{
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    display: flex;
}

.header_link{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    font-family: "OpenSans";
    margin-right: 40px;
}

main{
    margin-top: 160px;
    margin-left: 388px;
}

.sm_title{
    width: 265px;
}

.top_h3{
    color: #3A68B8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "OpenSans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.main_title{
   margin-top: 10px;
   width: 604px;
}

.top_h1{
    color:  #FFF;
    font-family: "OpenSans";
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
}

.text_main_page{
    margin-top: 40px;
    margin-right: 46px;
    width: 558px;
}

.top_paragraph{
    color:  #FFF;
    font-family: "OpenSans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    opacity: 0.7;
}

.buttons_panel_main_page{
    margin-top: 50px;
    display: flex;
}

.top_button{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background:  #3A68B8;
    border: none;
    margin-right: 20px;

    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn_image{
    width: 27px;
    height: 26px;
    margin-right: 10px;
}

footer{
    margin-top: 197px;
}

.logo_panel{
    margin-left: 388px;
}

.top_logo_img{
    padding-right: 71.36px;
}

/* 

.header{
    padding: 39px;
}

.header_link{
    margin: 40px;
}

.top_content_main{
    padding-top: 77px;
    padding-left: 263px;
}

.top_content{
    padding-left: 124px;
}

.top_h3{
    margin-top: 57px;
}

.top_h1{
    margin-top: 10px;
}

.top_paragraph{
    margin-top: 40px;
}

.top_buttons{
    padding-top: 33px;
}

.top_button{
    margin-right: 20px;
}

.top_form_img{
    margin-top: 57px;
}

.top_logo{
    margin-top: 32px;
    padding-left: 388px;
}

.top_logo_img{
    margin-right: 71.36px;
} */